# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

.env

# typescript
*.tsbuildinfo

app-example


#questions data
.data.json
data.json

#compiled upload script
upload.js


#android service key
.history-of-georgia-43551-a94b0030ba5f-android-key.json
android-service-account-key/

#firebase config

.firebase.ts

#plan
bigChanges.md

#ClaudeCode
CLAUDE.md
.claude/